<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RavenDb" connectionString="Server=your_server;Database=your_db; Uid=your_user_name;Pwd=your_password;" />
	</connectionStrings>
	<system.web>
		<membership defaultProvider="RavenDbMembershipProvider">
			<providers>
				<clear/>
				<add name="RavenDbMembershipProvider"
					type="RavenDbProviders.MembershipProvider.RavenDbMembershipProvider, RavenDbProviders.MembershipProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					connectionStringName="RavenDb"
					enablePasswordRetrieval="false"
					enablePasswordReset="true"
					requiresQuestionAndAnswer="false"
					requiresUniqueEmail="false"
					maxInvalidPasswordAttempts="5"
					minRequiredPasswordLength="6"
					minRequiredNonalphanumericCharacters="0"
					passwordAttemptWindow="10"
					applicationName="/" />
			</providers>
		</membership>
	</system.web>
</configuration>