# **/*.suo
# **/*.user
# bin
# obj
# _ReSharper*
# dist
# output
# build
# *.csproj.user
# *.resharper.user
# *.resharper
# *.suo
# *.cache
# TestResult.xml
# IndexDefinitions/
# Indexes/
# logs/
# system/
# temp/

*.ReSharper.user
bin/
obj/
*.suo
packages/