<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RavenDbMembershipDb" connectionString="Url = http://localhost:8080;Database = RavenDbMembershipProviderDb" />
	</connectionStrings>
	<system.web>
		<membership defaultProvider="RavenDbMembershipProvider" userIsOnlineTimeWindow="20">
			<providers>
				<clear/>
				<add name="RavenDbMembershipProvider"
					type="RavenDbProviders.MembershipProvider.RavenDbMembershipProvider, RavenDbProviders.MembershipProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					connectionStringName="RavenDbMembershipDb"
					enablePasswordRetrieval="false"
					enablePasswordReset="true"
					requiresQuestionAndAnswer="false"
					requiresUniqueEmail="false"
					maxInvalidPasswordAttempts="5"
					minRequiredPasswordLength="6"
					minRequiredNonalphanumericCharacters="0"
					passwordAttemptWindow="10"
					applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="RavenDbRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="RavenDbRoleProvider"
					 type="RavenDbProviders.RoleProvider.RavenDbRoleProvider, RavenDbProviders.RoleProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					 connectionStringName="RavenDbMembershipDb"
					 />
			</providers>
		</roleManager>
	</system.web>
</configuration>