<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlServerVirtualPathProvider" connectionString="Data Source=(local);Initial Catalog=test;Integrated Security=True;Trusted_connection=true;Connect Timeout=10;Application Name=SqlServerVirtualPathProvider" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>